.status-bar-item.plugin-smart-connections {
  padding: 0 0.5em;

  &:hover {
    background-color: var(--background-modifier-hover);
  }
  &> .smart-env-status-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: var(--status-bar-text-color);
  }
}