.sc-context-item-leaf {
  cursor: pointer;
}
.sc-context-item-score {
  display: inline-block;
  width: 4.5ch;
  height: 1.7em;
  line-height: 1.7em;
  text-align: center;
  font-weight: 600 !important;
  font-size: 0.8em !important;
  color: var(--nav-item-color) !important;
  background: var(--background-modifier-hover);
  border-radius: 6px;
}
