/* Modal view adjustments */
.modal-container .sc-context-view {
  max-height: 60%;
  display: flex;
  flex-direction: column;
  .sc-context-view-body {
    overflow: auto;
  }
  .sc-add-context-btn {
    display: none;
  }
  .sc-context-view-header {
    padding: var(--size-4-2);
  }
  .sc-context-actions {
    display: flex;
    justify-content: space-between;
  }
  .sc-context-actions-right {
    display: flex;
    gap: var(--size-4-2);
  }

  .sc-context-view-body {
    padding: var(--size-4-2);
  }

  .sc-context-view-footer {
    padding: var(--size-4-2);
  }

}

/* make hover popover work in builder modal */
.hover-popover {
  z-index: 100;
}
