/* Modal view adjustments */
.modal-container .sc-context-view {
  max-height: 60%;
  display: flex;
  flex-direction: column;
  .sc-context-view-body {
    overflow: auto;
  }
  .sc-add-context-btn {
    display: none;
  }
}

/* make hover popover work in builder modal */
.hover-popover {
  z-index: 100;
}