.sc-env-settings-container {
  margin: 1rem 0;
}

.smart-env-settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.toggle-env-settings-btn {
  cursor: pointer;
}