.sc-env-settings-container {
  margin: 1rem 0;
}

.smart-env-settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.toggle-env-settings-btn {
  cursor: pointer;
}


.env-setting-highlight {
  border: 1px solid var(--interactive-accent);
  background-color: var(--interactive-hover);
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.settings-group {
  .setting-item {
    border-top: none;
  }
}
