.get-core-link {
  text-wrap: nowrap;
  font-size: var(--font-ui-small);
}
.core-installed-text {
  text-wrap: nowrap;
  font-size: var(--font-ui-small);
  color: var(--text-muted);
}

.pro-plugins-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-4-3);
  margin-top: var(--size-5);
}

.pro-plugins-list-item {
  display: flex;
  align-items: center;
  padding: 0.75em 0;
  border-top: 1px solid var(--background-modifier-border);
  row-gap: var(--size-4-3);
}

.pro-plugins-container > .setting-group {
  .setting-item-name.pro-heading {
    font-size: var(--h1-size);
  }
  &> p {
    padding: 0 var(--size-4-4);
  }

}

.smart-plugins-login .setting-item {
  gap: var(--size-4-3);
}